@{
    ViewBag.Title = "EnviaMail";
}

<script src="~/Content/jquery-1.11.2.js"></script>
<!-- Latest compiled and minified JavaScript -->    

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="~/Content/bootstrap/css/full-slider.css">    
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

<link href="~/Content/mk.css" rel="stylesheet" />

<p class="pMk" style="text-align:center; margin-top:100px; margin-bottom:10px; font-size:large;">Correo enviado...</p>
