@{
    ViewBag.Title = "MezcladoraPresion";
}

    <script src="~/Content/jquery-1.11.2.js"></script>
    <!-- Latest compiled and minified JavaScript -->    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/full-slider.css">    
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Content/mk.css" rel="stylesheet" />

     <p class="pMk" style="text-align:center; font-size:26px;">Identifique el nivel de presión de agua que existe en su hogar</p>
     <div style="height:450px;">
         <div class="divGenericoCentrado">
             <div style="float: left; overflow:auto; width:250px; text-align:center; margin:10px; color:deepskyblue;">
                 @*border:solid; border-radius:3px; border-width:1px; border-color:lightgray;*@                  
                 <img id="imgAlta" style="cursor:pointer;" src="~/Images/alta.png" />
                 <br />
                 ALTA PRESION
                 <p style="font-style:italic; font-size:smaller; margin:4px;">
                 Con hidroneumático o edificio de más de 10 pisos
                 </p>
             </div>
             <div style="float: left; overflow:auto; width:250px; text-align:center; margin:10px; color:deepskyblue;">
                 @*border:solid; border-radius:3px; border-width:1px; border-color:lightgray;*@
                 <img id="imgBaja" style="cursor:pointer;" src="~/Images/baja.png" />
                 <br />
                 BAJA PRESION
                 <p style="font-style:italic; font-size:smaller; margin:4px;">
                 Sin hidroneumático en un edificio de menos de 10 pisos
                 </p>
             </div>
         </div>
         <div class="divGenericoCentrado">
             <div style="margin-top:25px;">
                 <img src="~/Images/4b.png" />
             </div>
         </div> 
         <div class="divGenericoCentrado">
             <button id="btnBack" type="button" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Anterior</button>
         </div>
         <div class="divGenericoCentrado">
             <ol class="breadcrumb">
                 <li><a href="/Home/Index">Inicio</a></li>
                 <li><a href="/Home/Mezcladoras">Llaves</a></li>
                 <li><a href="/Home/MezcladoraAlcance?tipo=@ViewBag.TipoMezcladora">Alcance</a></li>
                 <li><a href="/Home/MezcladoraAltura?tipo=@ViewBag.TipoMezcladora&altura=@ViewBag.Altura">Altura</a></li>
                 <li>Presión</li>
             </ol>
         </div>
     </div>

<script>
    $(function () {
        var tipo = "@ViewBag.TipoMezcladora";
        var alcance = "@ViewBag.Alcance";
        var altura = "@ViewBag.Altura";

        $("#imgAlta").click(function () {
            window.location = "/Home/MezcladoraResult?tipo=" + tipo + "&alcance=" + alcance + "&altura=" + altura + "&presion=alta";
        });

        $("#imgBaja").click(function () {
            window.location = "/Home/MezcladoraResult?tipo=" + tipo + "&alcance=" + alcance + "&altura=" + altura + "&presion=baja";
        });

        $("#btnBack").click(function () {
            window.location = "/Home/MezcladoraAltura?tipo=" + tipo + "&alcance=" + alcance;
        });
    });
</script>

