@{
    ViewBag.Title = "MezcladoraResult";
}

<script src="~/Content/jquery-1.11.2.js"></script>
<!-- Latest compiled and minified JavaScript -->    

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="~/Content/bootstrap/css/full-slider.css">    
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/mk.css" rel="stylesheet" />

    <p class="pMk" style="text-align:center; margin-top:100px; margin-bottom:10px; font-size:large;">Opciones disponibles de acuerdo a su selección</p>
    <div style="margin:4px;">
        <!-- <button id="mailTodo" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Enviar todos los resultados por email</button>        --> 

        <button id="btnInicio" type="button" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;"> Inicio</button>
        <button id="btnBack" type="button" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Regresar</button>
        <button id="btnComparar" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Comparar seleccionados</button>        
        

    </div>
    <div style="height:90%;">
@*        <div class="btn-group-lg divGenericoCentrado" role="group" aria-label="...">
        <button id="btnPoco" type="button" class="btn btn-primary">Poco volumen</button>
        <button id="btnMucho" type="button" class="btn btn-primary">Mucho volumen</button>
        </div>*@

        <div id="lista" style="overflow:auto;">

        </div>
        <!-- <button id="btnBack" type="button" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Regresar</button> -->

        <div style="bottom:0px;">
            <button id="btnInicio2" type="button" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;"> Inicio</button>
            <button id="btnBack2" type="button" class="btn btn-primary" style="margin-top:10px; margin-bottom:10px;"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Regresar</button>
            <button id="btnComparar2" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Comparar seleccionados</button>
        </div>
    </div>

<script>
    $(function () { 
        var tipo = "@ViewBag.TipoMezcladora";
        var alcance = "@ViewBag.Alcance";
        var altura = "@ViewBag.Altura";
        var presion = "@ViewBag.Presion";
        var cont = 0;

        $("#btnInicio").click(function () {
            window.location = "/Home/Index";
        });

        $("#btnInicio2").click(function () {
            window.location = "/Home/Index";
        });

        $("#btnBack").click(function () {
            window.location = "/Home/MezcladoraPresion?tipo=" + tipo + "&alcance=" + alcance + "&altura=" + altura;
        });

        $("#btnBack2").click(function () {
            window.location = "/Home/MezcladoraPresion?tipo=" + tipo + "&alcance=" + alcance + "&altura=" + altura;
        });

        $.ajax({
            type: "GET",
            url: "/Home/MezcladoraResult2?tipo=" + tipo + "&alcance=" + alcance + "&altura=" + altura + "&presion=" + presion,
            dataType: "json",
            success: function (result) {

                var articulos = "";
                var articulosSel = "";
                function ColectaItems() {
                    //FUNCION PARA VALIDAR ARTICULOS SELECCIONADOS PARA COMPARACION
                    articulosSel = "";
                    for (var x = 0, l = result.length; x < l; x++) {
                        var id = "cb-" + result[x].Clave;
                        var cb = document.getElementById(id);

                        if (cb.checked) {
                            articulosSel += "|" + result[x].Clave.trim().replace(/['"]+/g, '').replace(/['/]+/g, '');
                        }
                    }
                }

                $("#btnComparar").click(function () {
                    ColectaItems();
                    //alert(articulosSel);
                    //alert("MezcladoraResult manda: presion = " + presion);
                    window.location = "/Home/MezcladoraCompara?lista=" + articulosSel + "&tipo=" + tipo + "&alcance=" + alcance + "&altura=" + altura + "&presion=" + presion;
                });

                $("#btnComparar2").click(function () {
                    ColectaItems();
                    //alert(articulosSel);
                    //alert("MezcladoraResult manda: presion = " + presion);
                    window.location = "/Home/MezcladoraCompara?lista=" + articulosSel + "&tipo=" + tipo + "&alcance=" + alcance + "&altura=" + altura + "&presion=" + presion;
                });

                function ComparaUnico(clave) {
                    window.location = "/Home/MezcladoraCompara?lista=" + clave;
                };

                var etiquetaPrecio = "";

                for (var i = 0, len = result.length; i < len; i++) {

                    if (result[i].Precio <= 0) {
                        etiquetaPrecio = "Consulte precio con su asesor.";
                    }
                    else {                        
                        if (result[i].Moneda.trim() == 'USD') {
                            etiquetaPrecio = "$" + (result[i].Precio * 1.16).toFixed(2) + " (USD)";
                        }
                        else {
                            etiquetaPrecio = "$" + (result[i].Precio * 1.16).toFixed(2);
                        }
                    }

                    var theLink = JSON.stringify("/Home/MezcladoraSV?lista=" + result[i].Clave.trim().replace(/['"]+/g, ''));
                    articulos += "|" + result[i].Clave;
                    $("#lista").append("<div class='resItem'>" +
                        "<div style='float:left'>" +
                        "<div style='margin:2px;' color:darkgray;'><p class='lblMarca'>" + result[i].Marca + "</p>" + result[i].Clave +
                            "<h4 class='lblPrecio'>" + etiquetaPrecio + "</h4>" +
                        "</div>" +
                        "<div class='divGenericoCentrado'><img style='width:120px; height:120px;' src='/Images/art/" + result[i].Clave.trim().replace(/['"]+/g, '') + ".png' onclick='winOpn(" + theLink + ");' /></div>" +
                        "<div class='lblDescripcion' style='margin-top:6px;'>" + result[i].Nombre + "</div>" +
                        "</div>" +
                        "<div style='overflow:auto;' class='divGenericoCentrado'>" +
                        "<h6>Comparar</h6>" +
                        "<input id='" + "cb-" + result[i].Clave + "' type='checkbox' onchange=''>" +
                        "</div>");

                    if ((cont == 2) || (i == result.length - 1)) {
                        $("#lista").append("</div>")
                        cont = 0;
                    }
                    else {
                        cont += 1;
                    }
                    //$("#lista").append("<div class='resItem'>" +
                    //    "<div style='float:left'><img style='width:120px; height:120px;' src='/Images/art/" + result[i].Clave + ".png' onclick='window.location=" + JSON.stringify("/Home/TarjasCompara?lista=" + result[i].Clave) + "' /></div>" +

                    //        "<div style='float:right; width:82%; border-radius:3px;'>" +

                    //            "<div style='float:left; width:82%;'>" +

                    //                "<div style='margin-left:5px;' color:darkgray;'><p>" + result[i].Marca + "</p>" + result[i].Clave +
                    //                    "<div style='margin-left:5px;'>" + result[i].Nombre + "</div>" +
                    //                "<h4>" + etiquetaPrecio + "</h4></div>" +

                    //            "</div>" +
                    //            //"<input type=\x22checkbox\x22 data-toggle=\x22toggle\x22>"+
                    //            "<div style='overflow:auto;' class='divGenericoCentrado'>" +
                    //            "<h6>Comparar</h6>" +
                    //            "<input id='" + "cb-" + result[i].Clave + "' type='checkbox' onchange=''>" +
                    //            "</div>" +
                    //        "</div>" +
                    //    "</div>");


                }
            },
            error: function (e) {
                alert("ocurrio un error");
            }
        });
    });
</script>
